__pycache__/
*.py[cod]

.venv/
.cache/

.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
docs/_build/

editors/vscode/node_modules/
editors/vscode/server/
editors/vscode/*.vsix
